body {
  background: linear-gradient(to bottom right, #2727dc, #3737db);
  color: white;
  height: 100%;
}

h3 {
  color: white;
}

#main-container {
  margin: 0 auto;
  width: 960px;
  height: 540px;
  opacity: 0.85;
  border-radius: 10px;
}

.pitcherMenu {
  border: 1px solid silver;
  padding-left: 10px;
  width: 25%;
}

#selected-pitcher {
  text-align: center;
}

#heading-instructions {
  font-style: italic;
  color: white;
}

#pitchers-heading {
  margin-left: 20px;
  padding-top: 2px;
}

#full-body {
  height: 90vh;
  margin: 5vh;
}