body {
  background-color: red;
  color: white;
  margin: 10px;
}

h3 {
  color: navy;
}

.pitcherMenu {
  border: 2px dotted black;
  padding-left: 10px;
  width: 25%;
}

#selected-pitcher {
  text-align: center;
}

#heading-instructions {
  font-style: italic;
  color: navy;
}