body {
  background-color: navy;
  color: white;
  margin: 10px;
}

h3 {
  color: white;
}

#main-container {
  margin: 0 auto;
  width: 960px;
  height: 540px;
}

.pitcherMenu {
  border: 2px dotted black;
  padding-left: 10px;
  width: 25%;
}

#selected-pitcher {
  text-align: center;
}

#heading-instructions {
  font-style: italic;
  color: white;
}

#pitchers-heading {
  margin-left: 20px;
  padding-top: 2px;
}